.filters-topbar-active-filters {
  background-color: var(--au-gray-200);
  padding: 0 0 $au-unit-small;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .pills {
    padding: 0 $au-unit-small;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }

  #reset-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem $au-unit-small;
    width: 100%;
    align-items: end;
    background-color: var(--au-gray-200);
  }

  .au-c-pill-container {
    align-items: normal !important;
  }
}
