$primary: var(--au-blue-700);
$action: var(--au-gray-900);

.au-c-tabs {
  .au-c-tabs-list__item .au-c-link.active {
    color: $primary !important;
    box-shadow: 0 -3px 0 0 inset $primary !important;
  }

  .au-c-tabs-list__item .au-c-link {
    color: $action !important;
  }
}

.link-without-line {
  text-decoration: none !important;
}

.primary-sdk-color {
  color: $primary !important;

  .au-c-icon {
    stroke: $primary !important;
    fill: $primary !important;
  }
}

.action-sdk-color {
  color: $action !important;

  .au-c-icon {
    stroke: $action !important;
    fill: $action !important;
    width: 24px;
    height: 24px;
  }

  .au-c-dropdown__name {
    color: $action !important;
    font-weight: var(--au-regular) !important;
  }
}
