<AuModalContainer />
<AuBodyContainer>
  <Agendapunten::FiltersTopbar
    @filters={{this.filters}}
    @keysToHide={{this.filterKeysToHide}}
    @onShowFiltersPage={{this.goToFilters}}
    @onFiltersUpdated={{this.updateFilters}}
  />
  <div class="c-interface">
    <InfiniteListAgendaItemWrapper />
  </div>
</AuBodyContainer>