<AuBodyContainer>
  <div id="page-position-line"></div>
  <Agendapunten::FiltersTopbar
    @filters={{this.model.filters}}
    @onShowFiltersPage={{this.goToFilters}}
    @onFiltersUpdated={{this.refreshRoute}}
    @onFilterReset={{this.resetFilters}}
  />
  <InfiniteListAgendaItemWrapper />
</AuBodyContainer>