<AuModalContainer />
<AuBodyContainer>
  {{#if this.itemsService.isFirstPageLoaded}}
    <div
      class="au-u-flex au-u-flex--end au-u-padding-top-small au-u-padding-left-small au-u-padding-right-small"
    >
      <AuButton
        @skin="link"
        {{on "click" (fn (mut this.hasFilter) true)}}
      >Sorteer en filter</AuButton>
    </div>
    <AuHr />
  {{/if}}
  <div class="c-interface">
    <InfiniteListAgendaItemWrapper />
    <FilterSidebarWrapper
      @hasFilter={{this.hasFilter}}
      @hideFilter={{this.hideFilter}}
    />
  </div>
</AuBodyContainer>